<div class="page-wrapper">
    <div class="main-content">
        <div class="section__content section__content--p30">
         <!------------------------------------------------------------------------------------------>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mt-3">
                        <h2 class="fw-bold">ADD PRODUCTS</h2>
                        <form action="/admin/add-product" style="margin-top: 2em;" method="post" id="productvalidate"  enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text"  id="productname" class="form-control" name="productname" placeholder="Product Name *" value="" onkeyup="validatename()" />
                                <span id="name-error" class="validation-label" style="color: red;"></span>
                            </div>
                            <div class="form-group">
                                <select name="categoryname" class="form-control">
                                    <option value="">select category</option>
                                    <% for(let i =0;i< category.length;i++){ %>
                                        <option value="<%=category[i]._id %>"><%= category[i].categoryname %></option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="brandname" class="form-control">
                                    <option value="">select brand</option>
                                    <% for(let i =0;i< branddata.length;i++){ %>
                                        <option value="<%= branddata[i]._id %>"><%=  branddata[i].brandname %></option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- <input type="text"  id="" class="form-control" name="description" placeholder="description*" value=""  /> -->
                                <textarea id="description" class="form-control" name="description" placeholder="description*" value="" onkeyup="validatedescription()" ></textarea>
                                <span id="disc-Error" class="validation-label" style="color: red;"></span>
                            </div>
                            <div class="form-group">
                                <input type=""  id="price" class="form-control" name="price" placeholder="price *" value="" onkeyup=" validateprice()"  />
                                <span id="price-Error" class="validation-label" style="color: red;"></span>
                            </div>
                            <div class="form-group">
                                <input type=""  id="quantity" class="form-control" name="quantity" placeholder="quantity *" value="" onkeyup="validatequantity()"  />
                                <span id="quantiy-Error" class="validation-label" style="color: red;"></span>
                            </div>
                             <div class="form-group">
                                <label for="image" class="form-label">Image</label>
                                <input type="file"  id="" class="form-control" name="image"  value=""  multiple required/>
                            </div>
                             <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary" onclick="return validateForm()">Submit</button>
                                <span id="submit-error" class="validation-label" style="color: red;"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
        <!------------------------------------------------------------------------------------->

        </div>
    </div>
</div>


<script type="text/javascript" src="/javascripts/productvalid.js"></script>