<div class="errorSection" style="background-color: black;">
    <div>
        <h1>Page Not Found <span style="color: red;">!</span></h1>
        <span class='error-num' style="color: red;">4</span>
        <div class="eye left-eye" style="background-color: aqua;"></div>
        <span class='error-num' style="color: red;" >4</span>
       
      <p class='sub-text paragra'>Oh eyeballs! Something went wrong. We're <i>looking</i> to see what happened.</p>
    </div>
    </div>
    
    <script>
        var errorSection = document.querySelector('.errorSection');
        var leftEye = document.querySelector('.left-eye');
        var rightEye = document.querySelector('.right-eye');
        errorSection.addEventListener('mousemove', function(event) {
          var leftX = (leftEye.offsetLeft) + (leftEye.offsetWidth / 2);
          var leftY = (leftEye.offsetTop) + (leftEye.offsetHeight / 2);
          var leftRad = Math.atan2(event.pageX - leftX, event.pageY - leftY);
          var leftRot = (leftRad * (180 / Math.PI) * -1) + 180;
          leftEye.style.webkitTransform = 'rotate(' + leftRot + 'deg)';
          leftEye.style.transform = 'rotate(' + leftRot + 'deg)';
          
          var rightX = (rightEye.offsetLeft) + (rightEye.offsetWidth / 2);
          var rightY = (rightEye.offsetTop) + (rightEye.offsetHeight / 2);
          var rightRad = Math.atan2(event.pageX - rightX, event.pageY - rightY);
          var rightRot = (rightRad * (180 / Math.PI) * -1) + 180;
          rightEye.style.webkitTransform = 'rotate(' + rightRot + 'deg)';
          rightEye.style.transform = 'rotate(' + rightRot + 'deg)';
        });
      
    </script>